body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 20px;
}

a{
    text-decoration: none;
}

header {
    border: 2px solid grey;
    background: #89a3fe;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
}

header img {
    height: 80px;
}

.fa-solid, .fa-regular{
    
    font-size: 60px;
    color: rgb(65, 85, 198);
    padding: 10px;

}