<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel With Waka'a </title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="../static/images/dummy-logo.png" alt="">
        </div>
        <nav id="mainnav">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
                <button type="submit" class="reserve-button">Reservation</button>
            </ul>
        </nav>
    </header>

    <div class="main">
        <section id="home">
            <div class="hero">
                <h1>Welcome to Wakaa Express</h1>
                <p>Thank you for choosing to travel with Waka. Enjoy your trip.</p>
            </div>
        </section>

        <section id="about">
            <div class="container">
                <h2>About Us</h2>
                <p>Founed in 2004, </p>
            </div>
        </section>

        <section id="services">
            <div class="">
                <h2>Our Services</h2>
                <ul class="mainnav">
                    <li>Customized Travel Packages</li>
                    <li>Flight and Hotel Bookings</li>
                    <li>Guided Tours</li>
                    <li>Transportation Services</li>
                    <li>Travel Insurance</li>
                </ul>
            </div>
        </section>

        <section id="contact">
            <div class="container">
                <h2>Contact Us</h2>
                <form action="submit_form.php" method="POST">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="message" placeholder="Message" required></textarea>
                    <button type="submit">Send Message</button>
                </form>
            </div>
        </section>
    </div>

    <footer>
        <h3>
            <p>&copy; 2023 Wakaa Travel Agency. All rights reserved.</p>
        </h3>
    </footer>
</body>

</html>